# Ambiente virtual
.venv/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Checkpoints do Jupyter
.ipynb_checkpoints/

# Arquivos de build
build/
dist/
*.egg-info/

# Dados grandes
*.h5
*.npz


# Configurações locais
.env

# =========================================
# Arquivos de Dados e Grandes
# =========================================
*.csv
*.json
*.xml
*.hdf5
*.parquet
*.arrow
*.pkl
*.pickle
*.dat
*.data
/05_FAST_CAOTIC_NOISE/data/
/06_LORENZ_80/console/data/
/06_LORENZ_80/gui/data/

# =========================================
# Mídia e Saídas Gráficas
# =========================================
*.jpg
*.jpeg
*.gif
*.mp4
*.mov
*.avi
*.svg
/05_FAST_CAOTIC_NOISE/src/
/06_LORENZ_80/console/src/
/06_LORENZ_80/gui/src/
/07_STOCK_MARKET_EXEMPLE/src/

# =========================================
# Logs e Arquivos do Sistema
# =========================================
*.log
.DS_Store

# =========================================
# Arquivos Auxiliares do LaTeX
# =========================================
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
_minted*
*.nav
*.snm
*.vrb

